<?xml version='1.0'?>
<model>
  <name>Cable</name>
  <version>0.1.0</version>
  <sdf version='1.0'>model.sdf</sdf>

  <author>
    <name>Jaime Burgos</name>
    <email>jaimeburgossanchez@gmail.com</email>
  </author>

  <description>
    Cable hecho a base de cilindros, esferas y links.
    Basado en el modelo "fire_hose_long" de John Hsu.
  </description>
</model>